[submodule "dpf"]
	path = dpf
	url = https://github.com/jfrey-xx/DPF.git
[submodule "obtuse"]
	path = obtuse
	url = git@github.com:QualyaIO/obtuse.DSP.git
[submodule "dpf-extra"]
	path = dpf-extra
	url = https://github.com/jfrey-xx/DPF-Extra.git
